name: test workflow

on:
  release:
    types:
      - "published"

jobs:
  test_release_published:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        value: ${{ toJSON(github.event.release.assets) }}
    steps:
      - name: Dump trigger event
        run: echo '${{ matrix.value }}'
